.App {
  text-align: center;
}

.App-header {
  background-color: #1976d2; /* Material Blue */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Style the player selection input */
.MuiInputBase-root {
  width: 60px;
  font-size: 1rem;
  border: 2px solid #1976d2; /* Thicker border and Material Blue */
  background-color: #f0f0f0; /* Light gray background */
  border-radius: 4px;
  transition: border-color 0.2s; /* Add a transition for border color */
}

.MuiInputBase-root:hover,
.MuiInputBase-root:focus {
  border-color: #1565c0; /* Darker Material Blue on hover and focus */
}

.MuiInputBase-input {
  padding: 8px 12px;
}

/* Update the player selection input styles */
.MuiInputBase-root {
  width: 100px;
  font-size: 1rem;
  background-color: #f0f0f0; /* Light gray background */
  border-radius: 20px; /* Rounded borders */
  transition: background-color 0.2s; /* Add transition for background color */
}

.MuiInputBase-root:hover,
.MuiInputBase-root:focus {
  background-color: #e0e0e0; /* Lighter gray background on hover and focus */
}